*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}

body {
  box-sizing: border-box;
  padding: 5rem;
}
.card {
  width: 87rem;
}

@import "./Modal";
